<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinghai.system.mapper.JhUserRoleMapper">

    <resultMap id="BaseResultMap" type="com.jinghai.system.domain.entity.JhUserRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="authoPermissions" column="autho_permissions" jdbcType="VARCHAR"/>
            <result property="authoRole" column="autho_role" jdbcType="VARCHAR"/>
            <result property="autho_describe" column="autho_describe" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,autho_permissions,
        autho_role,autho_describe
    </sql>
</mapper>
